Localization
{
	en-us
	{
		//"#LOC_KPDynamics_"
		#loc_BDArmory_modname = Kerbal Power Dynamics

		//Tropath Macrodynamics
		#LOC_KPDynamics_Tropath_title = Tropath Macrodynamics
		#LOC_KPDynamics_Tropath_descriiption = Space guys

		//Onicron
		#LOC_KPDynamics_Onicron_title = Onicron
		#LOC_KPDynamics_Onicron_descriiption = Radar guys
		
		//GNC
		#LOC_KPDynamics_GNC_title = GNC Missile Systems
		#LOC_KPDynamics_GNC_descriiption = Missile guys (MBDA: Gladia-Nujan-Cythen)
		
		//***Ones with career agencies***
		
		//Gladia Fleetworks
		#LOC_KPDynamics_Gladia_title = Gladia Fleetworks
		#LOC_KPDynamics_Gladia_descriiption = Gladia Fleetworks is a Zeoulian shipbuilding, naval technology and defense company.
		
		//Nujan Dynamics Group
		#LOC_KPDynamics_Nujan_title = Nujan Dynamics Group
		#LOC_KPDynamics_Nujan_descriiption = The Nujan Dynamics group is an Aontan defence manufacturer specialising in armored vehicle systems.
		
    }
}




