Localization
{
	en-us
	{
		//"#LOC_KPDynamics_"

		//***BD Stuff***//
		
		//ScaledBombs
		#LOC_KPDynamics_84jdam_title = Mk84 JDAM Bomb
		#LOC_KPDynamics_84jdam_description = 2000lb GPS-guided bomb
		#LOC_KPDynamics_84brake_title = Mk84 SnakeEye Bomb
		#LOC_KPDynamics_84brake_description = 2000lb unguided bomb with airbrakes. Use for low altitude bombing
		#LOC_KPDynamics_84_title = Mk84 Bomb
		#LOC_KPDynamics_84_description = 2000lb unguided bomb
		#LOC_KPDynamics_83brake_title = Mk83 SnakeEye Bomb
		#LOC_KPDynamics_83brake_description = 1000lb unguided bomb with airbrakes. Use for low altitude bombing
		#LOC_KPDynamics_83_title = Mk83 Bomb
		#LOC_KPDynamics_83_description = 1000lb unguided bomb
		#LOC_KPDynamics_82jdam_title = Mk82 JDAM Bomb
		#LOC_KPDynamics_82jdam_description = 500lb GPS-guided bomb
		
		//BD Jets
		#LOC_KPDynamics_EJ_title = J-28 "Tiger" Afterburning Turbofan
		#LOC_KPDynamics_EJ_description = A high performance 0.625m jet engine, with a fixed nozzle and an afterburner for extra thrust.
		#LOC_KPDynamics_Saturn_title = J-606 "Jaguar" Afterburning Turbofan
		#LOC_KPDynamics_Saturn_description = A high performance jet engine with a variable geometry thrust vectoring nozzle and an afterburner for extra thrust.
		
		//SmokeCM
		#LOC_KPDynamics_SmokeCmPod_title = Smoke Countermeasure Pod Jr
		#LOC_KPDynamics_SmokeCmPod_description = Fires fewer smoke-screen countermeasures for occluding laser pointers
		
		//AMRAAM
		#LOC_KPDynamics_AMRAAM_Variant_Uncut = Uncut Fins
		#LOC_KPDynamics_AMRAAM_Variant_Cut = Cut Fins
		
		
		//***Radar***//
		
		//SNOOP-7
		#LOC_KPDynamics_SnoopLarge_title = SNOOP-7(V)3 Large Phased Array Radar
		#LOC_KPDynamics_SnoopLarge_description = The THE/SNOOP-7(V)3 is the largest single phased array radar system ever built. With a fearsome 37 individual scanning cells, it is capable of detecting targets, tracking targets, frying electronics, frying kerbals and frying itself. 
		#LOC_KPDynamics_SnoopLarge_radar = SNOOP-7 Large
		#LOC_KPDynamics_SnoopSmall_title = SNOOP-7(V)1 Small Phased Array Radar
		#LOC_KPDynamics_SnoopSmall_description = The THE/SNOOP-7(V)1 packs cutting edge AESA architecture into a small form factor - with only 9 scanning cells, it is so weak that its operation doesn't pose a danger to anyone - in fact it barely does anything at all!
		#LOC_KPDynamics_SnoopSmall_radar = SNOOP-7 Small
		
		//EsperiEye
		#LOC_KPDynamics_EsperiEye_title = "EsperiEye" AEW&C Radar
		#LOC_KPDynamics_EsperiEye_description = The EsperiEye is an S band AESA radar system designed by Aerfel Industries for airborne surveillance and maritime patrol missions. It provides 300 degrees of coverage at much longer ranges than contemporary fighter radars.
		#LOC_KPDynamics_EsperiEye_radar = EsperiEye
		#LOC_KPDynamics_EsperiEye_Variant_Bare = Bare
		#LOC_KPDynamics_EsperiEye_Variant_Struts = Struts
		
		//Simpson
		#LOC_KPDynamics_Simpson_title = "SIMPSON" Multi-Function Radar
		#LOC_KPDynamics_Simpson_description = While designing this radar, the engineers initially made some mistakes, made some assumptions that were incorrect, and failed out loud, but the SIMPSON is now ready for market. A solid state AESA radar capable of tracking hundreds of targets, it can perform multiple roles but is optimised as the fire control component of a naval air defence system.
		#LOC_KPDynamics_Simpson_radar = SIMPSON
		#LOC_KPDynamics_Simpson_Variant_rods = Lighting Rods
		#LOC_KPDynamics_Simpson_Variant_bare = Bare
		
		//Neolidas
		#LOC_KPDynamics_Neolidas_title = "Neolidas" HPM Turret
		#LOC_KPDynamics_Neolidas_description = The Neolidas High-Power Microwave Turret is a directed energy weapon designed to disable swarms of light drones.\nIn testing, prototypes have been responsible for destroying over 12,000 mobile phones.
		#LOC_KPDynamics_Neolidas_weapon = Neolidas
		
		
		//***Guns***//
		
		//Lynx
		#LOC_KPDynamics_Lynx_title = KP41 "Axe" IFV Turret
		#LOC_KPDynamics_Lynx_description = The KP41 "Axe" is a versatile IFV turret outfitted with a burst-fire autocannon. Initial designs limited bursts to three and asked "why not more" only for the barrel to melt.
		#LOC_KPDynamics_Lynx_weapon = Axe
		#LOC_KPDynamics_Lynx_Variant_Manned = Manned
		#LOC_KPDynamics_Lynx_Variant_Unanned = Unmanned
		
		//40mm
		#LOC_KPDynamics_40_title = 40mm Mk4 Naval Gun
		#LOC_KPDynamics_40_description = This light naval gun fires 40mm ammunition. Manufactured by Gladia Ordnance & Ballistics, a subsidiary of Gladia Fleetworks, it can be purchased with one of two different shrouds - the basic, cheap and boring standard mount of yesterday, or the flashy, monolithic and expensive stealth mount of tomorrow.\n\n<color=orange>PFHE is a mass fragmentation round with a customisable Prox fuse and best used against missiles. GP explodes and burns targets, AP penetrates up to 110mm RHA.</color>
		#LOC_KPDynamics_40_weapon = 40mm Naval
		
		//57mm
		#LOC_KPDynamics_57_title = 57mm Mk3 Naval Gun
		#LOC_KPDynamics_57_description = This light naval gun fires 57mm ammunition. Manufactured by Gladia Ordnance & Ballistics, a subsidiary of Gladia Fleetworks, it can be purchased with one of two different shrouds - the basic, cheap and boring standard mount of yesterday, or the flashy, monolithic and expensive stealth mount of tomorrow. \n\n<color=orange>Estimated 45% accuracy against a 2x2 target at 8500m. Standard shell simulates proximty HE.</color>
		#LOC_KPDynamics_57_weapon = 57mm Naval
		#LOC_KPDynamics_57_Variant_Standard = Standard Shroud
		#LOC_KPDynamics_57_Variant_Stealth = Stealth Shroud
		
		//76mm
		#LOC_KPDynamics_76_title = 76mm Mk62 Naval Gun
		#LOC_KPDynamics_76_description = This midrange naval gun fires 76mm ammunition. Manufactured by Gladia Ordnance & Ballistics, a subsidiary of Gladia Fleetworks, it can be outfitted in a variety of configurations - the longstanding domed model, smaller but antiquated with a high radar profile, or the modern and "Super-Rapid" (does not make you go faster) outfits.\n\n<color=orange>\Use the GP round to make things burn and explode, PLA-P to penetrate moderately armoured targets. PF-HE comes with a customisable Prox fuse but has little to no armour piercing.</color>
		#LOC_KPDynamics_76_weapon = 76mm Naval
		#LOC_KPDynamics_76_Variant_Standard = Standard
		#LOC_KPDynamics_76_Variant_Super = Super Rapido
		#LOC_KPDynamics_76_Variant_Dome = Dome
		
		//127mm
		#LOC_KPDynamics_127_title = 127mm Mk4 Naval Gun
		#LOC_KPDynamics_127_description = This medium naval gun was made by the Gladia Fleetworks subsidiary Gladia Ordnance & Ballistics and fires 127mm (5in) shells. It is well suited for destroyers, as it can destroy things quite well.\n\n<color=orange>GP comes with explosive and incendiary magic and SAP detonates after embedding in the target's armour. Cargo round sprays 40 submunitions in a wide cone.</color>
		#LOC_KPDynamics_127_weapon = 127mm Naval
		
		//155mm
		#LOC_KPDynamics_155_title = 155mm Mk51 Primitive Gun System
		#LOC_KPDynamics_155_description = This large naval gun was made by the Gladia Fleetworks subsidiary Gladia Ordnance & Ballistics. It fires 155mm artillery shells. Due to its primitive nature its development program was exceptionally fast, inexpensive and untroubled.\n\n<color=orange>Fires an LRLAP round with inflight course correction while drawing 2 shells</color>
		#LOC_KPDynamics_155_weapon = 155mm PGS
		
		
		//***Launchers***//
		
		//HarpoonTube
		#LOC_KPDynamics_141_title = Mk141 "Gaff" Launch Tube
		#LOC_KPDynamics_141_description = This deck-mounted Launch System assembly is perfect for air defence missiles. Attach a missile to the top node to load the launcher with that type of missile. Missiles sold separately.
		#LOC_KPDynamics_141_weapon = Mk141 Tube
		#LOC_KPDynamics_141_Variant_Both = Double Support
		#LOC_KPDynamics_141_Variant_Fore = Fore Only
		#LOC_KPDynamics_141_Variant_Rear = Rear Only
		#LOC_KPDynamics_141_Variant_None = No Supports
		
		
		//***Missiles***//
		
		//CUDA
		#LOC_KPDynamics_CUDA_title = AIM-160 CUDA Missile
		#LOC_KPDynamics_CUDA_description = This large naval gun was made by the Gladia Fleetworks subsidiary Gladia Ordnance & Ballistics. It fires 155mm artillery shells. Due to its primitive nature its development program was exceptionally fast, inexpensive and untroubled.
		#LOC_KPDynamics_CUDA_weapon = CUDA
		#LOC_KPDynamics_CUDA_Variant_Inert = Inert
		#LOC_KPDynamics_CUDA_Variant_Live = Live
		
		//Scalp-NG
		#LOC_KPDynamics_SCALP_title = SRS-2003 "Shadow Realm" Cruise Missile
		#LOC_KPDynamics_SCALP_description = 
		#LOC_KPDynamics_SCALP_weapon = SCALP
		
		//Brimstone
		#LOC_KPDynamics_AST3_title = SRS-1227 "Brimstone" Missile  //"Deepslate"?
		#LOC_KPDynamics_AST3_description =
		#LOC_KPDynamics_AST3_weapon = Brimstone
		#LOC_KPDynamics_AST3_Variant_Black = Black
		#LOC_KPDynamics_AST3_Variant_Grey = Grey
		
		//Slapchop Hellfire
		#LOC_KPDynamics_R9X_title = AGM-114R-9X Hellfire "Slapchop" Missile
		#LOC_KPDynamics_R9X_description = Small, quick, laser guided homing missile that uses a kinetic warhead with extending blades instead of explosives. Designed for surgical strikes to eliminate targets with minimal collateral damage.
		#LOC_KPDynamics_R9X_weapon = Slapchop
		
		//Meteor
		#LOC_KPDynamics_Meteor_title = SRA-1239 "Meteor" Missile
		#LOC_KPDynamics_Meteor_description = 
		#LOC_KPDynamics_Meteor_weapon = Meteor
		
		//ASRAAM
		#LOC_KPDynamics_ASRAAM_title = SRA-132 "Comet" Missile
		#LOC_KPDynamics_ASRAAM_description = 
		#LOC_KPDynamics_ASRAAM_weapon = Comet
		
		//SPEAR 3
		#LOC_KPDynamics_Sphere_title = SRS-30 "Sphere" Small Diameter Cruise Missile
		#LOC_KPDynamics_Sphere_description = 
		#LOC_KPDynamics_Sphere_weapon = Sphere
		
		#LOC_KPDynamics_SphereGlide_title = GBU-39 "Sphere" Small Diameter Glide Bomb
		#LOC_KPDynamics_SphereGlide_description = 
		#LOC_KPDynamics_SphereGlide_weapon = Sphere Glide
		
		#LOC_KPDynamics_SphereEW_title = SRA-404 "Sphere-EW" Electronic Warfare System
		#LOC_KPDynamics_SphereEW_description = 
		#LOC_KPDynamics_SphereEW_weapon = Sphere-EW
		
		//Coyote
		#LOC_KPDynamics_Coyote_title = BIM-40 Dingo Missile
		#LOC_KPDynamics_Coyote_description = 
		#LOC_KPDynamics_Coyote_weapon = Dingo
		
		
		//***Bombs***
		
		//JDAM-ER
		#LOC_KPDynamics_84jdamer_title = Mk84 JDAM-ER Glide Bomb
		#LOC_KPDynamics_84jdamer_description = A 2000lb GPS-guided bomb with an extended range glide package
		#LOC_KPDynamics_84jdamer_weapon = Mk84 JDAM-ER
		
		#LOC_KPDynamics_83jdamer_title = Mk83 JDAM-ER Glide Bomb
		#LOC_KPDynamics_83jdamer_description = A 1000lb GPS-guided bomb with an extended range glide package
		#LOC_KPDynamics_83jdamer_weapon = Mk83 JDAM-ER
		
		#LOC_KPDynamics_82jdamer_title = Mk82 JDAM-ER Glide Bomb
		#LOC_KPDynamics_82jdamer_description = A 500lb GPS-guided bomb with an extended range glide package
		#LOC_KPDynamics_82jdamer_weapon = Mk82 JDAM-ER
		
    }
}




